/* CarContainer.css */

.car-container {
    display: grid;
    grid-template-columns: repeat(4, 274px); /* 4 карточки в ширину */
    grid-template-rows: repeat(3, 426px); /* 3 карточки в висоту */
    gap: 16px; /* Розсташування між карточками */
    width: 1184px; /* Ширина контейнера */
    height: auto; /* Висота автоматично підлаштовується */
    padding: 16px;
    align-content: space-between; /* Додайте цей стиль для розташування елементів між карточками */
    position: relative; /* Додайте це, щоб можливо позиціонувати FilterForm */
  }
 
  /* Добавьте стили для кнопки и текста в низу карточки */
  .car-button {
    width: 274px;
    height: 44px;
    border-radius: 12px;
    background-color: #007bff; /* Цвет фона кнопки, можно настроить по своему */
    color: #fff; /* Цвет текста кнопки */
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px; /* Расстояние от текста к кнопке */
  }
  
  .car-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении курсора */
  }
  .load-more-button {
    width: 274px;
    height: 44px;
    border-radius: 12px;
    background-color:  #0056b3; /* Цвет фона кнопки, можно настроить по своему */
    color: #fff; /* Цвет текста кнопки */
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px; 
  }