/* CarContainer.css */

.car-container {
    display: grid;
    grid-template-columns: repeat(4, 274px); 
    grid-template-rows: repeat(3, 426px); 
    gap: 16px; /* Розсташування між карточками */
  
    height: auto;
    padding: 16px;
    align-content: space-between;
    position: relative; /* можливо позиціонувати FilterForm */
  }
 

  .car-button {
    width: 274px;
    height: 44px;
    border-radius: 12px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  
  .car-button:hover {
    background-color: #0056b3; 
  }
  .load-more-button {
    width: 274px;
    height: 44px;
    border-radius: 12px;
    background-color:  #0056b3; 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px; 
  }