.car-card {
    display: flex;
    flex-direction: column; /* Определяем направление флекс-контейнера */
    width: 274px;
    height: 426px;
    gap: 28px;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 16px;
  }
  
  .car-image img {
    border-radius: 14px;
  }
  
  .car-details {
    flex-grow: 1; /* Заполняет доступное пространство */
  }
  
  .car-location,
  .car-features,
  .car-description {
    display: flex;
    flex-direction: column; /* Определяем направление флекс-контейнера */
  }
  
  .car-button {
    width: 274px;
    height: 44px;
    border-radius: 12px;
    padding: 0;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    position: relative;
  }
  
  .car-button:hover {
    background-color: #0056b3;
  }
  
  .car-button span {
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 16px; /* Располагаем символ справа */
    transform: translateY(-50%);
  }
  