/* FilterForm.css */


.filter-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    max-width: 100%;
    margin: 0 auto;
    gap: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Установите правый отступ на 0, чтобы занять всю ширину экрана */
    background-color: #fff;
    padding: 14px 18px;
    border-radius: 14px;
    z-index: 1;
    margin-bottom: 160px; /* Отступ снизу на 20px */
  }
  
  .filter-input {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #121417;
    height: 48px;
    gap: 8px;
    width: 224px; /* Фиксированная ширина для select */
  }
  
  .filter-input label {
    margin-bottom: 4px;
  }
  
  .mileage-input {
    display: flex;
    gap: 8px;
  }
  
  .mileage-input input {
    padding: 8px;
    border-radius: 14px;
    border: 1px solid #ccc;
    flex-grow: 1;
  }
  
  .filter-input select {
    flex-grow: 1; /* Займите всю доступную ширину контейнера */
  }
  
  .search-button {
    width: 136px;
    height: 48px;
    border-radius: 12px;
    padding: 14px 44px;
    background-color: #3470ff;
    color: #fff;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #2054b7;
  }
  