/* Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачное фоновое затемнение */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modal {
    width: 541px;
    height: 752px;
    background: #fff;
    border-radius: 24px;
    position: relative;
  }
  
  .modal-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-close-icon {
    width: 12px;
    height: 12px;
  }
  
 
  
  .modal-button {
    width: 168px;
    height: 44px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    border-radius: 12px;
    padding: 12px 50px;
    background: #3470FF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .modal-button:hover {
    background: #2054b7;
  }
  
  .modal-car-image {
    max-width: 100%; /* Максимальная ширина изображения будет равна ширине родительского контейнера */
    max-height: 300px; /* Максимальная высота изображения */
    display: block; /* Убедитесь, что изображение корректно отображается как блочный элемент */
    margin: 10px;
    
  }